<%- include('partials/header'); -%>

<% if (name) {%>
    <h2>COMPANY: <%= name %></h2>
    <% } else { %>
    <h2>Nie ma takiej firmy</h2>
<% } %>
    
<ul>
  <% companies.forEach(company => { %>  
    <li><a href="/firmy/<%= company.slug %>"><%= company.name %></a></li>  
  <% }); %>
</ul>

<p>Przejdź do <a href="/">Strony głównej</a></p>
<p>Przejdź do <a href="/profile">profile</a></p>

<%- include('partials/footer'); -%>